
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HomePage</title>
</head>
<body>
    <div>
        @*header*@
        <hr />
        @Html.Partial("_PartialFaydalıLinkler")
    </div>

    <div>
        @*body*@
        <hr />
        @Html.Partial("_PartialFaydalıLinkler")
        <p> Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.</p>
        <hr />
    </div>

    <div>
        @Html.Partial("_PartialFaydalıLinkler")
        @*footer*@
    </div>
</body>
</html>
