
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @Html.Partial("~/Views/Home/_PartialPage1.cshtml")
    </div>
</body>
</html>
