
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Blog</title>
</head>
<body>
    <div>
        <h2> Blog sayfası</h2>
    </div>
    <div>
        <div>
            <b>Ad Soyad: </b> @Html.TextBox("text3")
            <b>Bool değer:</b> @Html.CheckBox("kontrol3")
        </div>
    </div>
</body>
</html>
